.dropDown {
  width: 376px;
  height: 46px;
  background: #f0f5fb;
  border-radius: 16px;
  cursor: pointer;
}
.Line {
  background: #274b88;
  width: 87%;
}
.chck1 {
  position: relative;
  width: 100px;
}
.dropDown-container {
  width: 376px;
  background: #1c3663;
  color: #dae2ef;
  border-radius: 16px;
}

.dropDownItems {
  align-items: center;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */

  font-feature-settings: "tnum" on, "lnum" on;
}
.dropDownSearch {
  width: 100%;
  height: 40px;
  border: none;
  background: #1c3663;
  border-radius: 8px;
  color: #6f8bbc;
}
