.dropDown {
  width: 376px;
  height: 46px;
  background: #f0f5fb;
  border-radius: 16px;
  cursor: pointer;
}

.Cal__MonthList__root {
  background-color: #1c3663;
}
.Cal__Month__row:first-child li {
  background-color: #1c3663;
  box-shadow: 0 -1px 0 #556e9a;
}
.Cal__Weekdays__root {
  border-radius: 20px 20px 0 0;
}
.Cal__MonthList__root {
  border-radius: 0 0 20px 20px;
}
.Cal__Day__root.Cal__Day__enabled.Cal__Day__highlighted:before,
.Cal__Day__root.Cal__Day__enabled:active:before,
.Cal__Day__root.Cal__Day__enabled:hover:before,
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
  border-radius: 8px;
  background-color: #346bd1 !important;
  opacity: 1 !important;
  color: #ffffff !important;
}
.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__day {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}
.Cal__Day__root {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}

.dateContainer{
  position: absolute;
  z-index: 1;
}